<header>
  <img
    src="https://s3.amazonaws.com/files.convem.me/general-images/convemstore.com/new_logo.png"
  />
</header>
<div class="main-container">
  <h1>Você quer se juntar ao time da Convem?</h1>
  <app-input (onInput)="onInput($event)"></app-input>
  <app-button [text]="'Confirmar'" (onClick)="getApi()"></app-button>
  <p *ngIf="!loading; else elseBlock" else>{{ text }}</p>
  <ng-template #elseBlock>
    <img src="https://media.tenor.com/5o2p0tH5LFQAAAAi/hug.gif" />
  </ng-template>
</div>
